<div class="card" style="width: 100%; max-width: 400px; margin: auto; margin-top: 50px;">
  <div class="card-header">
    <h5 class="card-title">Forgot your password?</h5>
  </div>
  <div class="card-body">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs mb-3">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "form-control" },
                    label: "Email" %>
      </div>

      <div class="form-actions text-end">
        <%= f.button :submit, "Send me reset password instructions", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>