<div class="container min-vh-100">
  <h2 class="display-2 text-center my-5">Upcoming updates:</h2>
  <ul class="list-unstyled">
    <li class="d-flex justify-content-between align-items-center mb-4">
      <img src="<%= asset_path('roadmap/settings.png') %>" alt="Customizable workflows" style="width: 80px; height: 80px;">
      <span class="display-5">Customizable workflows</span>
    </li>
    <li class="d-flex justify-content-between align-items-center mb-4">
      <img src="<%= asset_path('roadmap/people.png') %>" alt="Real-time collaboration" style="width: 80px; height: 80px;">
      <span class="display-5">Real-time collaboration</span>
    </li>
    <li class="d-flex justify-content-between align-items-center mb-4">
      <img src="<%= asset_path('roadmap/analytics.png') %>" alt="Analytics and reporting" style="width: 80px; height: 80px;">
      <span class="display-5">Analytics and reporting</span>
    </li>
    <li class="d-flex justify-content-between align-items-center mb-4">
      <img src="<%= asset_path('roadmap/erp.png') %>" alt="Integration with ERP systems" style="width: 80px; height: 80px;">
      <span class="py-2 display-5">Integration with ERP systems</span>
    </li>
  </ul>
</div>