
  <table class="table table-bordered table-striped-columns table-hover">
      <thead>
        <tr>
            <th scope="col">
                Quality project
            </th>
            <th scope="col">
                Customer
            </th>                    
            <th scope="col">
                Part number
            </th>
            <th scope="col">
                Part revision
            </th>
            <th scope="col">
                Customer request
            </th>
            <th scope="col">
                Purchase order
            </th>
            <th scope="col">
                Report approval
            </th>
            <th scope="col">
                Record approval
            </th>
            <th scope="col">
                Customer approval
            </th>
        </tr>
      </thead>
      <tbody>
          <% quality_projects.each do |quality_project| %>
              <tr>
                  <%= render "quality_projects/table_field", quality_project: quality_project %>
              </tr>
          <% end %>
          
      </tbody>
  </table>
