<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link" id="nav-part-measurement-tab" data-bs-toggle="tab" data-bs-target="#nav-part-measurement" type="button" role="tab" aria-controls="nav-part-measurement" aria-selected="true">Measure parts</button>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane show active" id="nav-part-measurement" role="tabpanel" aria-labelledby="nav-part-measurement-tab" tabindex="0">
    <%= render "part_measurement" %>
  </div>
</div>
